/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0061E3;
  --ifm-color-primary-dark: #0057cc;
  --ifm-color-primary-darker: #0052c1;
  --ifm-color-primary-darkest: #00449f;
  --ifm-color-primary-light: #006bfa;
  --ifm-color-primary-lighter: #0670ff;
  --ifm-color-primary-lightest: #2884ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4595ff;
  --ifm-color-primary-dark: #2583ff;
  --ifm-color-primary-darker: #1479ff;
  --ifm-color-primary-darkest: #0062e3;
  --ifm-color-primary-light: #65a7ff;
  --ifm-color-primary-lighter: #76b1ff;
  --ifm-color-primary-lightest: #a6ccff;
}

h1, h2, h3, p,b,a,li,span,div,td {
  font-family: 'Poppins', sans-serif !important;
}
code span{
  font-family: inherit !important;
}
div {
  font-weight: normal !important;
}
h1, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3  {
  font-size: 20px;
}
p {
  font-size: 16px;
}
b {

}
.theme-doc-version-badge.badge.badge--secondary {
  display: none;
}
p img {
  display: block; 
  margin: 0 auto;
}
.navbar ,.menu {padding-left: 25px !important;}
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .navbar__logo img {
  height: 25px;
} */
.navbar__brand {
  margin-right: 85px;
}
.navbar__title.text--truncate {
  font-size: 20px;
  font-weight: normal;
  color: var(--developer-color);
}
html[data-theme=dark] .header-github-link:before {
  background-image: url('../../static/img/github_dark.svg');
}
.header-github-link:before {
  content: "";
  background-image: url('../../static/img/github_light.svg');
  display: flex;
  height: 24px;
  width: 24px;
}
.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-1.menu__list-item {
  /* font-weight: normal; */
}
.theme-doc-sidebar-item-link-level-1 a {
  font-weight: normal;
}
.theme-doc-sidebar-item-link-level-2 a {
  font-weight: lighter !important;
}
.menu__link--sublist.menu__link--sublist-caret {
  /* font-weight: normal; */
}
.menu__link {
  /* font-weight: lighter; */
}
td img {
  width: 16px;
}
.margin-bottom--sm a{
  opacity: 1 !important;
}
.margin-bottom--sm a .footer__logo{
  height: 25px;
}
/* .footer__bottom.text--center {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/
.footer {
  padding: 30px 40px;
}
.footer__col {
  padding-left: 0;
  padding-right: 0;
}
.footer .container.container-fluid {
  /* display: flex;
  align-items: flex-start;
  justify-content: center; */
  max-width: 100%;
} 
.footer_logo {
  display: block;
  height: 25px;
  margin-right: 40px;
}
.footer_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.logo_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.icon_links {
  position: relative;
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icon_links img {
  display: block;
  width: 20px;
}
.icon_links a {
  display: block;
}
.icon_links a img {
  display: block;
}
.link_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.link_links a {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin-right: 10px;
  text-decoration: underline;
}
.link_links a::after {
  content: '|';
  display: block;
  margin-left: 10px;
  text-decoration: none;
  pointer-events: none;
}
.link_links a:last-of-type::after {
  display: none;
}
.copyright {
  /* position: absolute;
  right: 0; */
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .footer_div {
    flex-direction: column;
  }
  .copyright {
    margin-bottom: 0;
  }
  .footer__col {
    margin-bottom: 0;
  }
}